.footer-container {
  background-color: var(--brown);
  width: 100vw;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-mail {
  color: var(--white);
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.mail {
  font-size: 0.7rem;
  margin-left: 1rem;
  font-weight: 400;
}

.picto-insta,
.picto-linkedin {
  color: var(--white);
}

.pictos-reseauxsociaux {
  display: flex;
  flex-direction: row;
  margin-left: 6rem;
}

.picto-insta,
.picto-linkedin {
  margin-left: 1rem;
}

@media screen and (min-width: 769px) {
  .footer-container {
    height: 8rem;
  }

  .info-mail {
    margin-left: 2rem;
  }

  .mail {
    font-size: 1.3rem;
    margin-left: 2rem;
    font-weight: 400;
  }

  .pictos-reseauxsociaux {
    margin-left: 30rem;
  }

  .picto-insta,
  .picto-linkedin {
    margin-left: 5rem;
  }
}
